:root {
    --background-header: #373A3C;
    --background-footer: #DC3545;
    --text-color: #f0ede6;
    --link-color: #1C7CD5;
    --font-primary: 'Cabin', sans-serif;
    --font-secondary: 'Lobster', cursive;
    --bs-card-body: rgba(0, 255, 255, 1);
}

body {
    font-family: var(--font-primary);
    margin: 0;
    background: black;
    color: var(--text-color);
}

header {
  width: 100%;
  background-color: transparent;
  color: white;
  z-index: 1000;
  position: relative;
  top: 0;
  margin-bottom: 0;
  padding: 0;
}

main .container-fluid {
  padding-top: 0 !important;
}

.container-fluid {
  padding: 0;
  padding-right: 30px;
  padding-left: 30px;
  margin-right: auto;
  margin-left: auto;
}

.card {
    margin-top: 0;
    margin-bottom: 0;
    border: none;
}

.card-img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.bg-dark {
  background-color: #000!important;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.1);
    color: white;
    margin-bottom: 0;
}

.navbar .nav-link {
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.navbar-brand {
    color: white;
    display: flex;
    align-items: center;
    gap: 10px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

.custom-toggler-icon {
    background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"><path stroke="rgba(255,255,255,0.95)" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"/></svg>');
}

.navbar-toggler {
    border-color: white;
    margin-right: 60px;
}

.navbar-brand img {
    vertical-align: middle;
}

.navbar-dark .navbar-brand {
    color: white;
}

.navbar-dark .navbar-brand:hover {
    color: #ccc;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
    color: #ffcc00;
    background-color: rgba(255, 204, 0, 0.2);
    border-radius: 10px;
}
.carousel {
    position: relative;
    top: -70px;
    z-index: 500;
}

.navbar-toggler {
    border-color: white;
    margin-right: 60px;
}

.navbar-brand img {
    height: 2em;
    margin-top: -0.5em;
}

.carousel .carousel-item img {
    height: 100vh;
    object-fit: cover;
}

.footer, .sub-footer {
    background-color: var(--background-footer);
    color: white;
    text-align: center;
    padding: 20px 0;
}

.carousel-item img {
    width: 100%;
    height: auto;
    min-height: 500px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #000;
    border-radius: 50%;
}
.navbar-brand {
    font-family: var(--font-secondary);
}

h1, .footer-title {
    font-size: 2rem;
}

.btn-custom {
    background-color: transparent;
    border: 2px solid white;
}

.mt-auto, .mb-auto, .text-center, .d-flex, etc.

 /* Card section */
.card {
  flex: 1;
  margin: 15px;
  margin: 0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  border: 5px solid white;
  overflow: hidden;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  color: white !important;
}

.card-body {
    padding: 15px;
    color: white !important;
    background-color: var(--bs-card-body) !important;
    height: 12rem;
}

.card-img {
  width: 100%;
  height: auto;
  object-fit: cover;
}


.card-title {
    margin-bottom: 10px;
    font-size: 1.25rem;
}

.card-text {
    font-size: 1rem;
}

.card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
}

.row-card {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}


.bg-dark {
  background-color: #000!important;
}

/* Contacto Section */
.contact-section {
    background-color: #000;
    color: #fff;
    padding: 50px 0;
}

.contact-header {
    margin-bottom: 30px;
    color: #fff;
}

.form-label {
    color: #ccc;
    font-size: 1.2rem;
}

.form-control {
    background-color: white;
    border: 1px solid #fff;
    color: #fff;
}

.form-control:focus {
    background-color: transparent;
    border-color: #00aaff;
    box-shadow: none;
}

.btn-primary {
    background-color: var(--bs-card-body);
    border: none;
    width: 10vw;
    height: 2rem;
}

.btn-primary:hover {
    background-color: #0088cc;
}

.custom-hr-container {
    width: 100%;
    padding: 20px;
}

.custom-hr {
    width: 100%;
    height: 2px;
    background-color: #008000;
    border: none;
    margin-left: auto;
    margin-right: 0;
}



@media (max-width: 992px) {
    .navbar-collapse {
        display: flex;
        justify-content: space-around;
    }
}

@media (max-width: 768px) {
    .carousel-container {
        display: none;
    }
}

@media (max-width: 768px) {
    .container-fluid {
        padding-right: 10px;
        padding-left: 10px;
    }
}
